@font-face {
  font-family: 'Franuces';
  src: url('../fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf');
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/manrope/Manrope-VariableFont_wght.ttf');
}