// Colors
$colors: (
  // Main Colors
        primary-color: (
                'star-dust': #f9f3dd,
                'crackled': #f2e7d1,
                'neon-spring': #3ffd6a,
                'iris-royale': #591b98,
                'fading-horizon': #442266,
                'election-night': #110320,
        ),
  // Secondary Colors
        secondary-color: (
                'star-dust': #f9f3dd,
                'crackled': #f2e7d1,
                'neon-spring': #3ffd6a,
                'iris-royale': #591b98,
                'fading-horizon': #442266,
                'election-night': #110320,
        ),
  // Tertiary Color
        tertiary-color: (
                'star-dust': #f9f3dd,
                'crackled': #f2e7d1,
                'neon-spring': #3ffd6a,
                'iris-royale': #591b98,
                'fading-horizon': #442266,
                'election-night': #110320,
        ),
  // Text Color
        'text': #4d4f62,
  // Other
        'background': #fafafa,
        'white': #ffffff,
        'black': #000000,
);